extends ../shared/template
block content
  h1 Person details
  table
    tr
      td
        label.createLabelWidth Name:
        label= person.name
    tr
      td
        label.createLabelWidth Age:
        label= person.age
    tr
      td
        label.createLabelWidth Gender:
        label= person.gender
    tr
      td
        label.createLabelWidth Balance:
        label= person.balance
    tr
      td
        label.createLabelWidth Photo:
        img(src=person.photo).createPhoto
